<div role="main">
  <div class="container">
    <div class="row">
      <div class="columns border large-12 medium-11 small-11 small-centered">
        <demo-section
            id="accordion"
            name="Accordion"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/accordion">
          <accordion-demo></accordion-demo>
        </demo-section>

        <demo-section
            id="alert"
            name="Alert"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/alert">
          <alert-demo></alert-demo>
        </demo-section>

        <demo-section
            id="buttons"
            name="Buttons"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/buttons">
          <buttons-demo></buttons-demo>
        </demo-section>

        <demo-section
            id="dropdown-menu"
            name="Dropdown Menu"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/dropdown">
          <dropdown-menu-demo></dropdown-menu-demo>
        </demo-section>

        <demo-section
            id="dropdown-toggle"
            name="Dropdown Toggle"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/dropdown">
          <dropdown-toggle-demo></dropdown-toggle-demo>
        </demo-section>

        <demo-section
            id="pagination"
            name="Pagination"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/pagination">
          <pagination-demo></pagination-demo>
        </demo-section>

        <demo-section
            id="progressbar"
            name="Progressbar"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/progressbar">
          <progressbar-demo></progressbar-demo>
        </demo-section>

        <demo-section
            id="rating"
            name="Rating"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/rating">
          <rating-demo></rating-demo>
        </demo-section>

        <demo-section
            id="tabs"
            name="Tabs"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/tabs">
          <tabs-demo></tabs-demo>
        </demo-section>

        <demo-section
            id="tooltip"
            name="Tooltip"
            link="https://github.com/Neil-Ni/ng2-foundation/tree/master/components/tooltip">
          <tooltip-demo></tooltip-demo>
        </demo-section>
      </div>
    </div>
  </div>
</div>
